doc/*.aux
doc/*.log
doc/*.gz
doc/model.aux
doc/model.log
doc/model.synctex.gz

.idea

src/__pycache__/
src/common/__pycache__/
src/model/__pycache__/
src/processor/__pycache__/
src/utils/__pycache__/
tests/.DS_Store
tests/__pycache__/